{
  "app": {
    "name": "pinterest_api"
  },
  "web": {
    "prefork": false,
    "port": 4000
  },
  "log": {
    "level": 6
  },
  "database": {
    "username":"",
    "password":"",
    "host": "localhost",
    "port": 5432,
    "name": "clone_pinterest",
    "pool": {
      "idle": 10,
      "max": 100,
      "lifetime": 300
    }
  },
  "google": {
    "clientId": "893674384354-ihmgf62trm1qaga5aflv9g7scgh46obd.apps.googleusercontent.com",
    "clientSecret": ""
  },
  "frontend": {
    "protocol": "http",
    "domain": "127.0.0.1:3000"
  }, 
  "backend":{
    "protocol":"http",
    "domain":"127.0.0.1:4000"
  }
}
